{# app/Resources/views/easy_admin/UnidadFuncional/list.html.twig #}
{% extends '@EasyAdmin/default/list.html.twig' %}
{% block head_stylesheets %}
    {{parent()}}
    <!--link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">

{% endblock %}

{% block search_action %}
    <div class="form-action {{ _action.css_class|default('') }}">
        <form method="get" class="form-inline" action="{{ path('easyadmin') }}">
            {% block search_form %}
                <input type="hidden" name="action" value="search">
                <input type="hidden" name="entity" value="{{ _request_parameters.entity }}">
                <input type="hidden" name="sortField" value="{{ _request_parameters.sortField }}">
                <input type="hidden" name="sortDirection" value="{{ _request_parameters.sortDirection }}">
                <input type="hidden" name="menuIndex" value="{{ _request_parameters.menuIndex }}">
                <input type="hidden" name="submenuIndex" value="{{ _request_parameters.submenuIndex }}">
                
                <div class="form-group">
                    <input class="form-control" placeholder="Select a date" type="date" name="fecha" value="{{ app.request.get('fecha')|default('') }}">
                </div>
                <div class="form-group">
                    <div class="input-group">

                        <input class="form-control" type="search" name="query" value="{{ app.request.get('query')|default('') }}">
                        <span class="input-group-btn">
                            <button class="btn" type="submit" formtarget="{{ _action.target }}">
                                <i class="fa fa-search"></i>
                                <span class="hidden-xs hidden-sm">{{ _action.label|default('action.search')|trans(_trans_parameters) }}</span>
                            </button>
                        </span>

                    </div>
                </div>
                
                
            {% endblock %}
        </form>
    </div>
{% endblock search_action %}


{% block table_body %}
    {% for item in paginator.currentPageResults %}
        {% set _item_id = attribute(item, _entity_config.primary_key_field_name) %}
        <tr data-id="{{ _item_id }}">
            {% for field, metadata in fields %}
                {% set isSortingField = metadata.property == app.request.get('sortField') %}
                {% set _column_label =  (metadata.label ?: field|humanize)|trans(_trans_parameters)  %}

                <td data-label="{{ _column_label }}" class="{{ isSortingField ? 'sorted' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}">                    
                    {% if _column_label == 'Saldo' %}
                        {% set fecha = app.request.get('fecha')|default('') %}
                        {{ unidad_funcional_saldo(_entity_config.name, item, metadata, fecha) }}
                    {% else %}
                        {{ easyadmin_render_field_for_list_view(_entity_config.name, item, metadata) }}
                    {% endif %}
                </td>
            {% endfor %}

            {% if _list_item_actions|length > 0 %}
                {% set _column_label =  'list.row_actions'|trans(_trans_parameters, 'EasyAdminBundle') %}
                <td data-label="{{ _column_label }}" class="actions">
                {% block item_actions %}
                    {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
                        actions: _list_item_actions,
                        request_parameters: _request_parameters,
                        translation_domain: _entity_config.translation_domain,
                        trans_parameters: _trans_parameters,
                        item_id: _item_id
                    }, with_context = false) }}
                {% endblock item_actions %}
                </td>
            {% endif %}
        </tr>
    {% else %}
        <tr>
            <td class="no-results" colspan="{{ _list_item_actions|length > 0 ? fields|length + 1 : fields|length }}">
                {{ 'search.no_results'|trans(_trans_parameters, 'EasyAdminBundle') }}
            </td>
        </tr>
    {% endfor %}
{% endblock table_body %}




{% block body_javascript %}
    {{ parent() }}
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            
            //$( "#datepicker" ).datepicker();
           
            
            $('.table').DataTable({
                //$('#example').DataTable({
                dom: 'Bfrtip',
                "paging": false,
                "searching": false,
                "info": false,
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>

{% endblock %}