{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block page_title 'Unidad Funcional - Import' %}

    {% block main %}

        <section class="content-header">
            <div class="row">
                <div class="col-sm-5">
                    <h1 class="title">Importacion de Unidad Funcionales</h1>
                </div>


            </div>
        </section>

        <section id="main" class="content"> 
            <div class="row">
                <div class="field-group col-xs-12 col-sm-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                <i class="fa fa-envelope-o"></i>
                                Upload de Archivo
                            </h3>
                        </div>
                        <div class="box-body">
                            <form method="post" enctype="multipart/form-data" action="media/upload">
                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <div class="form-group">                                       
                                            <input id="unidad_funcional_file" name="unidad_funcional_file" required="required" class="form-control" type="file">            
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-save"></i>
                                    Guardar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    {% endblock %}
