{% extends '::easy_admin/layout.html.twig' %}

{% block page_title 'Unidad Funcional - Import' %}

    {% block main %}

        <section class="content-header">
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>        
        </section>

        <section id="main" class="content"> 
            <div class="row">
                Admin
            </div>
        </section>
        
        


    {% endblock %}
