{% extends '::easy_admin/layout.html.twig' %}
{% block page_title 'Dashboard Cliente' %}
    {% block main %}
        <style>
            .linkPagar:hover
            {
                background: #ffffff;
            }
        </style>
        <!--Div con administraciones-->
        <div id="admin_bloque">
            <section class="content-header">
                <h1>
                    <i class="fa fa-building"></i>&nbsp;Administraciones
                    <!--<small>Control panel</small>-->
                </h1>
            </section>
            <section id="main" class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-info">
                            {% for grupo in gruposAdmins %}
                                {% set ids = '' %}
                                {% set aids = [] %}
                                {% for uf in grupo.unidades %}
                                    {% for comp in uf.getComprobantesFacturas() %}
                                        {% set ids = ids~comp.getId()~'-'%}
                                        {% set aids = aids|merge([comp.getId()]) %}
                                    {% endfor %}
                                {% endfor %}
                                {% set ids = aids|join('-') %}

                                {#{ aids|join('-') }}#}
                                <!--Contenido interno-->

                                <!--div class="col-lg-3 col-xs-6"-->
                                <div class="col-md-4 col-lg-4 col-xs-8">
                                    <!--div class="small-box bg-aqua" style="margin-top:20px;"-->
                                    <div class="small-box bg-yellow" style="margin-top:20px;">
                                        <div class="inner">
                                            <h3>{{grupo.admin.getRazonSocial|capitalize}}</h3>
                                            <h2>$&nbsp;{{grupo.saldo}}</h2>
                                            {% if (ids!='') %}
                                                <a href="{{path('mp_comprar',{'ufId':ids})}}">
                                                    <button type="button" class="btn btn-default linkPagar" title="Haga click para pagar el saldo completo de la deuda.">
                                                        <span class="fa fa-credit-card-alt" aria-hidden="true"></span>
                                                        Pagar total
                                                    </button>
                                                </a>
                                            {% else %}
                                                <button type="button" class="btn btn-default linkPagar" disabled="true" title="No tiene pagos pendientes">
                                                    <span class="fa fa-credit-card-alt" aria-hidden="true"></span>
                                                    Pagar total
                                                </button>
                                            {% endif %}
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-bar-chart"></i>
                                        </div>
                                        <div class="small-box-footer">
                                            {% if (ids!='') %}
                                            <a href="{{path('uf_list',{'idadmin':grupo.admin.id})}}" style="color:white;" title="Haga click para ver el detalle de la compra y elegir que pagar">
                                                Ver detalle <i class="fa fa-info-circle"></i>
                                            </a>
                                            {% else %}
                                                <span href="#" style="color:white;" title="No tiene pagos pendientes">
                                                    Ver detalle <i class="fa fa-info-circle"></i>
                                                </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>



            </section>
        </div>
    {% endblock %}