{% block main %}
<div style="font-family:verdana;">
    <section class="content-header">
        {% if stat=='wait' %}
            <h3 class="box-title" style="color:orange;font-weight:bold;">
                Pago pendiente
            </h3>
        {% endif %}            
        {% if stat=='ok' %}
            <h3 class="box-title" style="color:green;font-weight:bold;">
                Pago realizado correctamente
            </h3>
        {% endif %}
        {% if stat=='error' %}
            <h3 class="box-title" style="color:red;font-weight:bold;">
                Pago rechazado
            </h3>
        {% endif %}
    </section>
    <section id="main" class="content"> 
        <div class="row">
            <div class="box box-info">                    
                <div class="box-body">
                    <div class="box-header with-border" style="border-bottom:2px solid #00c0ef;padding-bottom:15px;">                            
                        <span>
                            {% if stat=='error' %}
                                <font color="red">
                                Hubo un problema en mercadopago y se rechazo su petición de pago, intente nuevamente<br>
                                o ponganse en contacto con nosotros al email soporte@xxxxx.com y lo ayudaremos a la brevedad.
                                </font>
                            {% endif %}
                            {% if stat=='ok' %}
                                En momentos, recibiria un email con el comprobante del pago.
                            {% endif %}
                            {% if stat=='wait' %}
                                <font color="orange">
                                    Seleccionastes una forma de pago diferida, el proceso se terminara una vez que realizes el pago.<br>
                                    Recibiras un email con el comprobante una vez que se procese.
                                </font>
                            {% endif %}                                
                        </span>                            
                        <ul>
                            <li>
                                <b>Concepto:</b>
                                {{mpData.getDescrip()|capitalize}}
                            </li>
                            <li>
                                <b>Estado:</b>
                                "<i>{{mpData.getEstado()|capitalize}}</i>"
                            </li>                                
                            <li>
                                <b>Cod. operación:</b>
                                {{mpData.getId()}}
                            </li>
                            <li>
                                <b>Fecha de pago:</b>
                                {{mpData.getFecha()|date('Y-m-d h:m:s')}}
                            </li>
                            <li>
                                <b>Detalle del pago:</b><br>
                                <div>
                                    {% for item in items %}
                                        <span>&bull; {{item.uf.descrip}} | Factura {{item.comprobante.num}} Importe: <b>$ {{item.comprobante.saldo}}</b></span><br>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                        <div>
                            <h4>
                                <b>TOTAL PAGADO: $ {{mpData.getCosto()}}</b>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}