<tr>
    <td colspan="6">
       <!--Subtabla-->
        <div class="col-md-4">
            <h4>Comprobantes</h4>
            <table class="table no-margin">
                <thead>
                    <tr>
                        <th style="background:#3c8dbc;color:white;text-align:center;border-right:1px solid white;">&nbsp;</th>
                        <th style="background:#3c8dbc;color:white;text-align:center;border-right:1px solid white;">N comprob</th>
                        <th style="background:#3c8dbc;color:white;text-align:center;border-right:1px solid white;">Fecha</th>
                        <th style="background:#3c8dbc;color:white;text-align:center;border-right:1px solid white;">Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="checkbox" selected"true">
                        </td>                                                                        
                        <td>0003</td>
                        <td>0003</td>
                        <td>$200</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" selected="true">
                        </td>                                                                        
                        <td>0003</td>
                        <td>0003</td>
                        <td>$500</td>
                    </tr>                                                                    
                </tbody>
            </table>
        </div>
    </td>
</tr>