{% extends '::easy_admin/layout.html.twig' %}

{% block page_title 'Unidad Funcional - Import' %}

    {% block main %}

        <section class="content-header">
            <h1>
               Proximamente!
            </h1>        
        </section>

        <section id="main" class="content"> 
            <div class="row">
                En v1.
            </div>
        </section>


    {% endblock %}
