{% extends '::easy_admin/layout.html.twig' %}
{% block page_title 'Unidad Funcional - Import' %}
    {% block main %}
        <style>
        .colComprobante
        {
            background:#3c8dbc;
            color:white;
            text-align:center;
            border-right:1px solid white;
        }
        </style>
        <script>

            //Actualizo el precio total en base a los comprobantes.
            function precalcularSaldo(id)
            {
                //Traigo todos los controles que tienen este id.
                var ctrls  = $('*[data-target="'+id+'"]');
                var total  = 0;
                var ids    = '';

                for (var i=0;i<=ctrls.length-1;i++)
                {
                    var tmp = ctrls[i];

                    if (tmp.checked==true)
                    {
                       total = total+parseFloat(tmp.dataset.precio);
                       ids   = ids+tmp.dataset.compids+'-';
                    }
                }

                var deuda = parseFloat($("#"+id).attr('data-deuda'));
                
                if (ids!='')
                {
                    $("#"+id+"_link").attr('data-compids',ids);
                    $("#"+id+"_link").show();                    
                }
                else
                    $("#"+id+"_link").hide();

                //Fijo el total a pagar según los comprobantes seleccionados.
                $("#"+id+"_total").html("$ "+total);

                //$("#"+id).html("$ "+(total+deuda));
            }

            //Muestro la subtabla.
            function showSubtabla(id)
            {
                $("#"+id).show();
            }

            //Redireccionoa mp.
            function redirectMp(obj)
            {
                //Armo la url.
                var ids = $("#"+obj).attr('data-compIds');
                var url = "{{path('mp_comprar',{'ufId':'1'})}}";

                //Concateno, el path con los ids.
                url = url.substring(0,url.length-2)+ids;

                //Redirecciono a la ruta de mp.
                window.location.href = url;
            }

        </script>
        <div id="ufs_bloque">
            <section class="content-header">
                <h1>
                    <i class="fa fa-building"></i>&nbsp;Adm. {{grupo.admin.getRazonSocial|capitalize}}
                    &nbsp;/&nbsp;
                    <i class="fa fa-cube"></i>&nbsp;Unidades funcionales
                </h1><br>
                <a href="{{path('dashboard_client')}}">
                    &larr;&nbsp;Volver atras
                </a>
            </section>            
            <section id="main" class="content"> 
                <div class="row">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="table-responsive">
                                <div id="div_2_admin" data-admin="2" class="box-header with-border" style="border-bottom: 2px solid rgb(0, 192, 239); padding-bottom: 15px; display: block;">
                                    <!--Tabla con ufs asociadas-->
                                    <div>
                                        <table class="table no-margin">
                                            <thead>
                                                <tr>
                                                    <th>Order ID</th>
                                                    <th>Número</th>
                                                    <th>Dirección</th>
                                                    <th>Saldo pendiente</th>
                                                    <th>Total a pagar</th>                                                    
                                                    <!--th>Estado</th-->
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <!--Tabla principal-->
                                            {% for uf in grupo.unidades %}
                                                {% set comprobIds = '' %}
                                                {% set aids = [] %}
                                                {% set totalFacts = 0 %}                                                
                                                {% for comp in uf.getComprobantesFacturas() %}
                                                    {% set totalFacts = totalFacts+comp.getImporte() %}
                                                    {% set aids       = aids|merge([comp.getId()]) %}                                                    
                                                {% endfor %}
                                                {% set comprobIds = aids|join('-')%}                                                
                                                <tr>
                                                    <td>
                                                        <a href="#">{{uf.id}}</a>
                                                    </td>
                                                    <td>{{uf.numero}}</td>
                                                    <td>{{uf.direccion}}</td>
                                                    <td>
                                                        <strong style="color:#337ab7;margin-rigth:5px;" id="uf_id_{{uf.id}}_saldo" data-precio="{{uf.getSaldo()}}" data-deuda="{{uf.getTotalDeuda()}}">
                                                            $&nbsp;{{uf.getSaldo()}}                                                        
                                                        </strong>
                                                        <!--Boton para mostrar detalles-->
                                                        {% if (totalFacts>0) %}
                                                        <a  href="javascript:showSubtabla('uf_id_{{uf.id}}_subtabla');">
                                                            <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                                                        </a>
                                                        {% endif %}
                                                    </td>
                                                    <td  id="uf_id_{{uf.id}}_saldo_total">
                                                        $&nbsp;{{totalFacts}}
                                                    </td>
                                                    <!--td>
                                                        <span class="label label-success">{{uf.estado}}</span>
                                                    </td-->
                                                    <td>
                                                        {% if (totalFacts>0) %}
                                                        <a href="javascript:redirectMp('uf_id_{{uf.id}}_saldo_link');" class="btn btn-default" id="uf_id_{{uf.id}}_saldo_link" data-compids="{{comprobIds}}">
                                                            <i class="fa fa-credit-card-alt"></i> Pagar
                                                        </a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <!--Comprobantes-->
                                                <tr id="uf_id_{{uf.id}}_subtabla" style="display:none;">
                                                    <td colspan="6">
                                                       <!--Subtabla-->
                                                        <div class="col-md-6" style="min-width: 420px;">
                                                            <div style="margin-bottom:5px;height:50px;">
                                                                <div style="float:left;">
                                                                    <span style="display:block;font-size:16px;">
                                                                        <b>Comprobantes</b>
                                                                    </span>
                                                                    <span style="font-size:15px;">
                                                                        Seleccione los comprobates que desea pagar.
                                                                    </span>
                                                                </div>
                                                                <div style="float:right;font-size:18px;">
                                                                    <a onclick="$('#uf_id_{{uf.id}}_subtabla').hide();" title="Cerrar comprobantes" style="cursor:pointer;">
                                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <table class="table no-margin">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="colComprobante">&nbsp;</th>
                                                                        <th class="colComprobante">N° Prefijo</th>
                                                                        <th class="colComprobante">N° Comprobante</th>
                                                                        <th class="colComprobante">Fecha</th>
                                                                        <th class="colComprobante">Saldo</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for comp in uf.getComprobantesFacturas() %}
                                                                        {% if comp.getUnidad().getId()== uf.getId() %}
                                                                        <tr>
                                                                            <td>
                                                                                <input  type="checkbox" 
                                                                                        style="cursor:pointer;" 
                                                                                        checked="true"
                                                                                        data-target="uf_id_{{uf.id}}_saldo" 
                                                                                        data-precio="{{comp.getImporte()}}" 
                                                                                        data-compids="{{comp.getId()}}"
                                                                                        onClick="precalcularSaldo('uf_id_{{uf.id}}_saldo');">
                                                                            </td>
                                                                            <td>{{comp.getPrefijo()}}</td>
                                                                            <td>{{comp.getNumero()}}</td>
                                                                            <td>{{comp.getFecha()|date("m/d/Y") }}</td>
                                                                            <td>$&nbsp;{{comp.getImporte()}}</td>
                                                                        </tr>                                                                     
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--XXXXXXXX-->
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock %}