{% extends '@EasyAdmin/default/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        header.main-header,
        aside.main-sidebar {
            display: none;
        }
        .wrapper {
            background: #F5F5F5;
        }
        .fixed .content-wrapper {
            margin-left: 0;
            padding-top: 0;
        }
    </style>
{% endblock %}

{% block page_title 'Bienvenidos a Expensas en Línea' %}
{% block body_id 'welcome' %}

{% block header '' %}
{% block sidebar '' %}
{% block main %}
    <div class="box box--secondary">
        <h1>{{ block('page_title') }}</h1>

        <p>
            Solicitar acceso al sistema
        </p>

    </div>

    <div class="box box--primary">
        <div class="row">
            <h1 class="col-sm-12">
                <i class="fa fa-lock"></i>
                Inicio de sesion
            </h1>

            <div class="col-sm-6">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if error %}
                        <div class="has-error">
                            <p class="error-block">
                                <span class="label label-danger">
                                    {{ 'errors'|transchoice(1, domain = 'EasyAdminBundle') }}
                                </span>
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </p>
                        </div>
                    {% endif %}

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <div class="form-group">
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input class="form-control" type="text" id="username" name="_username" value="admin" required="required" />
                    </div>

                    <div class="form-group">
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input class="form-control" type="password" id="password" name="_password" required="required" value="1234" />
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked id="remember_me" name="_remember_me" value="on" />
                            {{ 'security.login.remember_me'|trans }}
                        </label>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
                    </div>
                </form>
            </div>

            <hr class="visible-xs" />

            <div class="col-sm-6 login-help">
                <p>Haga click en el boton <strong>Entrar</strong> ingresando las
                   siguientes credenciales:</p>
                <ul>
                    <li><strong>Usuario:</strong> admin</li>
                    <li><strong>Password:</strong> 1234</li>
                    <li><strong>Role:</strong> ROLE_ADMIN</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
