{%  extends '@EasyAdmin/default/layout.html.twig' %}

{% block header_custom_menu %}
    <ul class="nav navbar-nav">
        <li class="user user-menu">

            <span class="sr-only">{{ 'user.logged_in_as'|trans(domain = 'EasyAdminBundle') }}</span>
            <i class="hidden-xs fa fa-user"></i>
            {% if app.user %}
                {{ app.user.username|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}
            {% else %}
                {{ 'user.anonymous'|trans(domain = 'EasyAdminBundle') }}
            {% endif %}       


        </li>
        <li class="user user-menu">
            <a class="hidden-xs fa fa-sign-out" href="{{ path('fos_user_security_logout') }}">Salir</a>
        </li>

    </ul>
{% endblock header_custom_menu %}
