{% extends '@EasyAdmin/default/menu.html.twig' %}

{% block main_menu %}

    {% for item in easyadmin_config('design.menu') %}
        {% if is_granted(item.role) %}
            <li class="{{ item.type == 'divider' ? 'header' }} {{ item.children is not empty ? 'treeview' }} {{ app.request.query.get('menuIndex')|default(-1) == loop.index0 ? 'active' }} {{ app.request.query.get('submenuIndex')|default(-1) != -1 ? 'submenu-active' }}">
                {{ helper.render_menu_item(item) }}
                {% if item.children|default([]) is not empty %}
                    <ul class="treeview-menu">
                        {% for subitem in item.children %}
                            <li class="{{ subitem.type == 'divider' ? 'header' }} {{ app.request.query.get('menuIndex')|default(-1) == loop.parent.loop.index0 and app.request.query.get('submenuIndex')|default(-1) == loop.index0 ? 'active' }}">
                                {{ helper.render_menu_item(subitem) }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}

{% endblock main_menu %}